//@format
//$lp-search-width: rem-calc(350);
input[type='text']:focus {
    border: 0;
    outline: 0;
    border-top: 4px double $medium-gray;
    border-bottom: 4px double $medium-gray;
    box-shadow: none;
}
.block--lp-search,
%block--lp-search {
    //width: $lp-search-width;
    display: flex;
    &__search-bar {
        margin-bottom: 0;
    }
    &__form-wrapper {
        @extend .input-group;
        margin-bottom: 0;
    }
    &__button {
        margin-bottom: 0;
        //background-color: #e7e7e7;
        border: 1px solid #ccc;
        border-left: 0px;
        border: 0;
        color: #333;
        background: $white;
        display: none;
    }
    &__input {
        /*style*/
        margin-bottom: 0;
        //did this to make it the same height as the flanking buttons
        height: initial;
        border-top: 4px double $medium-gray;
        border-bottom: 4px double $medium-gray;
        border-right: 0px;
        border-left: 0px;
        //border: 0;
        font-family: $sans;
        font-size: 1.2em;
        //border-radius: 0 6px 6px 0;
        :focus {
        }

        ::placeholder {
            color: $light-gray;
            color: blue;
        }
    }
    &__input__wrapper {
        width: 100%;
    }

    &__menu__link {
        @include button;
        width: 100%;
        font-family: $sans;
        //border-radius: 20px;
    }
    &__menu__icon {
        margin-right: 4px;
    }
    &__adv-button {
        background: $white;
        color: $black;
        border-right: 0;
        //border-radius: 6px 0 0 6px;
        margin-bottom: 0;
        border-top: 4px double $medium-gray;
        border-bottom: 4px double $medium-gray;
    }
    &__dropdown {
        padding: 0;
        //width: $lp-search-width;
        border: 0;
        background: transparent;
    }
}
.menu--search-options {
    width: 100%;
    li {
        flex: 1;
    }
}
//######################//
// ~~There be Dragons~~ //
//######################//
.block--lp-search #edit-simple--2 {
    @extend %block--lp-search__form-wrapper;
}
.block--lp-search #edit-simple--2 > div {
    @extend %block--lp-search__input__wrapper;
}

.block--lp-search .menu--search-options {
    //@extend %block--lp-search__menu;
    a {
        @extend %block--lp-search__menu__link;
    }
}
//.fugly-drupal-name-02 {
//@extend %block--lp-search__part-b;
//}
