//@format
//$lp-search-width: rem-calc(350);
.block--lp-search,
%block--lp-search {
    //width: $lp-search-width;
    display: flex;
    &__search-bar {
        margin-bottom: 0;
    }
    &__form-wrapper {
        @extend .input-group;
    }
    &__button {
        margin-bottom: 0;
        //background-color: #e7e7e7;
        border: 1px solid #ccc;
        border-left: 0px;
        color: #333;
        background: $white;
        display: none;
    }
    &__input {
        /*style*/
        margin-bottom: 0;
        //did this to make it the same height as the flanking buttons
        height: initial;
        border-right: 0px;
        border-left: 0px;

        border-radius: 0 6px 6px 0;
    }
    &__input__wrapper {
        width: 100%;
    }

    &__menu__link {
        @include button;
        border-radius: 20px;
    }
    &__menu__icon {
        margin-right: 4px;
    }
    &__adv-button {
        background: $white;
        color: $black;
        border-right: 0;
        border-radius: 6px 0 0 6px;
    }
    &__dropdown {
        padding: 0 1rem;
        //width: $lp-search-width;
        border: 0;
        background: transparent;
    }
}

//######################//
// ~~There be Dragons~~ //
//######################//
.block--lp-search #edit-simple--2 {
    @extend %block--lp-search__form-wrapper;
}
.block--lp-search #edit-simple--2 > div {
    @extend %block--lp-search__input__wrapper;
}

.block--lp-search .menu--search-options {
    @extend %block--lp-search__menu;
    a {
        @extend %block--lp-search__menu__link;
    }
}
//.fugly-drupal-name-02 {
//@extend %block--lp-search__part-b;
//}
