.admin_tabs {
    .tabs {
        @include menu-base;
        background: #fff;
        border: 3px double $tan;
        border-right: 0px;
        border-left: 0px;
        li {
            a {
                color: $black;
                font-family:$sans;
                font-size:.8rem;
                text-transform:uppercase;
                transition: background-color 0.5s ease;
                &:hover {
                    background-color: $brown--light !important;
                    color:#fff;
                }
            }
        }
    }
}
