
    <div class="lp-search-block">
<div class="input-group">
      <select class="input-group-field">
          <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
                  <option value="hotdog">Hot Dog</option>
                      <option value="apollo">Apollo</option>
                        </select>
                        </label></option>
      </select>
            <input class="input-group-field" type="text" placeholder="Search IslandLives...">
            <div class="input-group-button">
              <input class="button" type="submit">
            </div>
</div>



      <ul class="menu lp-search-block__links">
        <li>
          <a href="/">Advanced Search</a>
        </li>
        <li>
          <a href="/">Search Tips</a>
        </li>
      </ul>
    </div>
