<section class="cell small-12 block--lp-site-description">
    <h2>Preserving PEI's community histories</h2>
    <p class="lp-site-description">
        Made possible through a generous private donation, IslandLives contains
        community and church histories and it builds on the Robertson Library’s
        mission to preserve and share unique material relating to Prince Edward
        Island and demonstrates UPEI's ongoing commitment to making PEI's
        cultural and published heritage available to all. Welcome.
    </p>
</section>
