
    <div class="lp-search-block">
      <h3 class="lp-search-block__title">
        Search IslandLives' online collections:
      </h3>



      <ul class="lp-search-block__tabs tabs" data-tabs id="lp-search-block__tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Full-Text</a></li>
        <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="lp-search-block__tabs">
        <div class="tabs-panel is-active" id="panel1">
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Search IslandLives...">
            <div class="input-group-button">
              <input class="button" type="submit">
            </div>
          </div>
        </div>

        <div class="tabs-panel" id="panel2">
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Search IslandLives...">
            <div class="input-group-button">
              <input class="button" type="submit">
            </div>
          </div>
        </div>
      </div>




      <ul class="menu lp-search-block__links">
        <li>
          <a href="/">Advanced Search</a>
        </li>
        <li>
          <a href="/">Search Tips</a>
        </li>
      </ul>
    </div>
