<div class="cell small-6 block--lp-site-feature">
    <h3 class="block--lp-site-feature__title">Block Title</h3>
    <div class="block--lp-site-feature__content">
        Nunc aliquet et mauris sed pellentesque. Curabitur sapien est, posuere
        eu turpis in, gravida dignissim nibh. Sed et ipsum a purus fermentum
        rhoncus. Vivamus mi turpis, fermentum vitae augue ac, tincidunt
        facilisis nunc. Duis id tortor malesuada, euismod erat in, molestie
        mauris. Duis maximus est id commodo sodales. Vestibulum gravida odio id
        ultricies tempor. Donec sed massa blandit, scelerisque risus sed, tempor
        nulla.
    </div>
</div>
