
<div class="block--lp-search">
    <div class="block--lp-search__search-bar input-group">
        <!--dropdown button-->
        <button class="input-group-label block--lp-search__adv-button" type="button" data-toggle="navbar--search__dropdown"> <i class="block--lp-search__menu__icon fas fa-cogs" aria-hidden="true"></i></button>
        <!--search input -->
        <input class="block--lp-search__input input-group-field" type="text" placeholder="Search IslandLives...">
        <!--search submit button-->
        <button class="button block--lp-search__button"> <i class="fas fa-search" aria-hidden="true"></i> </button>
    </div>

    <div class="dropdown-pane block--lp-search__dropdown" id="navbar--search__dropdown" data-dropdown data-auto-focus="true">
        <ul class="menu block--lp-search__menu">
            <li>
                <a class="block--lp-search__menu__link" href="/"><i class="block--lp-search__menu__icon fas fa-cogs" aria-hidden="true"></i><span>Advanced Search</span></a>
            </li>
            <li>
                <a class="block--lp-search__menu__link" href="/"><i class="block--lp-search__menu__icon fas fa-binoculars" aria-hidden="true"></i>Search Tips</a>
            </li>
        </ul>
    </div>

</div>
