    <script src="../assets/lib/jquery.min.js"></script>
    <script src="../assets/lib/what-input.min.js"></script>
    <script src="../assets/lib/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>
