<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <div class="upei-branding">
       <div class="upei-branding__logo">
       
        <img src="../images/UPEI_Logo_white.svg" alt="">
       </div>
      <h1 class="upei-branding__title">
      Island Lives</h1>
        </div>
        <ul class="menu">
            <li>
            </li>
        </ul>
        <!--<img src="../images/UPEI_Logo_white.svg" alt="">-->

        <ul class="top-bar--branding menu">
            <li class="top-bar--branding__logo">
<figure>

                <img src="../images/UPEI_Logo_white.svg" alt="">
</figure>
            </li>
            <li class="top-bar--branding__text"><H2>Island Lives</H2></li>
        </ul>

        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li class="has-submenu">
                <a href="#0">One</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="#0">One</a></li>
                    <li><a href="#0">Two</a></li>
                    <li><a href="#0">Three</a></li>
                </ul>
            </li>
            <li><a href="#0">Two</a></li>
            <li><a href="#0">Three</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</div>
