//@format

$island: $brown--light;
$lives: $brown--light;
$map: #ecb785;

.logo--ilives,
%logo--ilives {
    margin-bottom: $global-margin;
    width: rem-calc(300);
    &__island {
        fill: $island !important;
        stroke: darken($island, 10%) !important;
        stroke-width: 1px !important;
    }
    &__lives {
        fill: $lives !important;
        stroke: darken($lives, 10%);
        stroke-width: 1px !important;
    }
    &__map {
        fill: $map !important;
        //stroke: $map !important;
        stroke: $brown--dark !important;
        stroke-width: 1px !important;
    }
}

//######################//
// ~~There be Dragons~~ //
//######################//
#logo--island path {
    @extend %logo--ilives__island;
}
#logo--lives path {
    @extend %logo--ilives__lives;
}
#logo--map path {
    @extend %logo--ilives__map;
}
