//@format

$island: $brown--light;
$lives: $brown--light;
//$map: $brown;
$map: $brown;

.logo--ilives,
%logo--ilives {
    &__island {
        fill: $island !important;
        stroke: $island !important;
    }
    &__lives {
        fill: $lives !important;
        stroke: $lives !important;
    }
    &__map {
        fill: $map !important;
        stroke: $map !important;
    }
}

//######################//
// ~~There be Dragons~~ //
//######################//
#logo--island path {
    @extend %logo--ilives__island;
}
#logo--lives path {
    @extend %logo--ilives__lives;
}
#logo--map path {
    @extend %logo--ilives__map;
}
