//@format

$hero-height: 60vh;
$hero-height: 400px;
$path: '/sites/islandlives.hp1.islandarchives.ca/themes/ilives/dist';
$bg-url: '#{$path}/images/pei-scenery--1900w.png';

.hero-section {
    background: url($bg-url) 50% no-repeat;
    background-size: cover;
    height: $hero-height;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-section-text {
        color: $white;
        text-shadow: 1px 1px 2px $black;
    }
}
.hero {
    &--wrapper {
        width: 100%;
        @include callout;
        margin-top: $global-margin;
    }
    &__part-b {
        /*style*/
    }
}

//######################//
// ~~There be Dragons~~ //
//######################//
.fugly-drupal-name-01 {
    //@extend %hero__part-a;
}
.fugly-drupal-name-02 {
    //@extend %hero__part-b;
}
