//@format
$results__border-color: $tan;
.search-result,
%search-result {
    dl,
    dt {
        margin: 0;
    }
    //outline: 1px solid red;
    @include xy-grid;
    &__wrapper {
        margin-bottom: $global-margin * 4;
    }
    &_thumbnail {
        //outline: 1px solid green;
        //display: none;
        padding: 4px;
        margin-bottom: 0;
        @include xy-cell(13%, false);
        margin-right: $global-margin;
        dt {
            margin-bottom: 0;
        }
        img {
            width: 100%;
            //display: none;
            @include thumbnail;
            margin-bottom: 0;
        }
    }
    &__metadata {
        @include xy-cell(auto, true);

        @include xy-grid;
    }
    &__metadata__label {
        &:first-of-type {
            border-top: 4px solid $results__border-color;
        }
        padding-right: $global-padding;
        margin-bottom: 0;
        //outline: 1px solid blue;
        @include xy-cell(3, false);
        font-family: $sans;
        font-weight: normal !important;
        line-height: 3.1;
        //@include vertical-center;
        text-align: right;
        font-size: 1rem;
        text-transform: uppercase;
        //width: 100px !important;

        border-bottom: 1px solid $results__border-color;
        &:after {
            content: ':';
        }
        /*style*/
    }
    &__metadata__value {
        padding-left: $global-padding;
        @include xy-cell(9, false);
        line-height: 2.2;
        //outline: 1px solid orange;
        border-bottom: 1px solid $results__border-color;
        a {
            color: $brown--dark;
            text-decoration: underline;
            &:hover {
                //text-decoration-style: double;
            }
        }
        &:first-of-type {
            border-top: 4px solid $results__border-color;
        }
        /*stle*/
        //width: 400px !important;
    }
    &__part-b {
        /*style*/
    }
}
.islandora-solr-facet-wrapper {
    //@include card-container($background, $color, $margin, $border, $radius, $shadow);
    @include card-container();
    h3 {
        @include card-divider;
    }
    .islandora-solr-facet {
        @include card-section;
        font-family: $sans;
        list-style: none;
        margin-left: 0;
        font-size: rem-calc(18);
    }
    .islandora-solr-date-filter,
    .islandora-solr-range-slider {
        @include card-section;
        font-family: $sans;
        font-size: rem-calc(18);
    }
}
.solr-facets {
    margin-top: rem-calc(15);
}
input#edit-date-filter-date-filter-submit,
input#edit-range-slider-submit {
    @include button();
}
//######################//
// ~~There be Dragons~~ //
//######################//
.fugly-drupal-name-01 {
    //@extend %search-result__part-a;
}
.fugly-drupal-name-02 {
    //@extend %search-result__part-b;
}
