//@format

$showcase-height: 60vh;
$showcase-max-width: 1100px;
$logo-width: 300px;
$search-width: 600px;

//$grid-container: 100px;
.showcase,
%showcase {
    height: $showcase-height;
    padding-top: $global-padding*3;
    background: url('https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg')
        50% no-repeat;
    background-size: cover;
    text-align: center;
    &__part-a {
        /*style*/
    }
    &__part-b {
        /*style*/
    }

    .container {
        //@include absolute-center;
        max-width: $showcase-max-width;
        outline: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo--ilives {
        width: rem-calc($logo-width);
    }
    .lp-search-block {
        //@include callout;
        margin-bottom: 0;
        width: rem-calc($search-width);
    }
}

//######################//
// ~~There be Dragons~~ //
//######################//
.fugly-drupal-name-01 {
    @extend %showcase__part-a;
}
.fugly-drupal-name-02 {
    @extend %showcase__part-b;
}
