//@format
.page {
    @include xy-grid-container;
    @include xy-grid;
    > * {
        //outline: 1px solid $orangered;
        margin-top: $global-margin;
    }
}

.no-sidebars {
    #main-content {
        @include xy-cell(12);
    }
}

.one-sidebar.sidebar-first {
    #main-content,
    .sidebar-first {
        @include xy-cell(12);
    }
    @include breakpoint(large) {
        #main-content {
            @include xy-cell(9);
            order: 2;
        }
        .sidebar-first {
            @include xy-cell(3);
            order: 1;
        }
    }
}

.one-sidebar.sidebar-second {
    #main-content,
    .sidebar-second {
        @include xy-cell(12);
    }
    @include breakpoint(large) {
        #main-content {
            @include xy-cell(9);
            order: 1;
        }
        .sidebar-second {
            @include xy-cell(3);
            order: 2;
        }
    }
}

.two-sidebars {
    #main-content,
    .sidebar-first,
    .sidebar-second {
        @include xy-cell(12);
    }
    @include breakpoint(large) {
        #main-content {
            @include xy-cell(6);
            order: 2;
        }
        .sidebar-first {
            @include xy-cell(3);
            order: 1;
        }
        .sidebar-second {
            @include xy-cell(3);
            order: 3;
        }
    }
}
