//@format
.navbar--main-menu,
%navbar--main-menu {
    color: $tan !important;
    font-size: 1rem;
    &__link {
        color: $tan !important;
        margin-left: 1px;
        background-color: lighten($brown--dark, 10%);
        line-height: 1.3;
        font-family: $sans;
        font-weight: normal;
    }
    &__link--active {
        background-color: lighten($brown--dark, 20%);
    }
    &__link--hover {
        /*style*/
        background-color: lighten($brown--dark, 20%);
    }
    &__dropdown {
        /*style*/
        border: 0;
        margin-top: rem-calc(7);
    }
}

//######################//
// ~~There be Dragons~~ //
//######################//

.menu--main .menu {
    @extend %navbar--main-menu;
    a {
        @extend %navbar--main-menu__link;
    }
}
.menu--main .menu .is-dropdown-submenu {
    @extend %navbar--main-menu__dropdown;
}
.menu--main .menu a:hover {
    @extend %navbar--main-menu__link--hover;
}
.menu--main .menu .is-active a {
    @extend %navbar--main-menu__link--active;
}
.navbar--main-menu li a {
    @extend %navbar--main-menu__link;
}
.navbar--main-menu .submenu {
    @extend %navbar--main-menu__dropdown;
}
